html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

[hidden] {
  display: none;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

svg,
video {
  display: block;
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
}

.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bg-gray-100 {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.border-gray-200 {
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237, 242, 247, var(--border-opacity));
}

.border-t {
  border-top-width: 1px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.font-semibold {
  font-weight: 600;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.h-16 {
  height: 4rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.ml-12 {
  margin-left: 3rem;
}

.-mt-px {
  margin-top: -1px;
}

.max-w-6xl {
  max-width: 72rem;
}

.min-h-screen {
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.p-6 {
  padding: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.text-center {
  text-align: center;
}

.text-gray-200 {
  --text-opacity: 1;
  color: #edf2f7;
  color: rgba(237, 242, 247, var(--text-opacity));
}

.text-gray-300 {
  --text-opacity: 1;
  color: #e2e8f0;
  color: rgba(226, 232, 240, var(--text-opacity));
}

.text-gray-400 {
  --text-opacity: 1;
  color: #cbd5e0;
  color: rgba(203, 213, 224, var(--text-opacity));
}

.text-gray-500 {
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.text-gray-600 {
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

.text-gray-700 {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.text-gray-900 {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.underline {
  text-decoration: underline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-5 {
  width: 1.25rem;
}

.w-8 {
  width: 2rem;
}

.w-auto {
  width: auto;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .sm\:rounded-lg {
    border-radius: 0.5rem;
  }

  .sm\:block {
    display: block;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:h-20 {
    height: 5rem;
  }

  .sm\:ml-0 {
    margin-left: 0;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0 {
    padding-top: 0;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-right {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .md\:border-t-0 {
    border-top-width: 0;
  }

  .md\:border-l {
    border-left-width: 1px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-800 {
    --bg-opacity: 1;
    background-color: #2d3748;
    background-color: rgba(45, 55, 72, var(--bg-opacity));
  }

  .dark\:bg-gray-900 {
    --bg-opacity: 1;
    background-color: #1a202c;
    background-color: rgba(26, 32, 44, var(--bg-opacity));
  }

  .dark\:border-gray-700 {
    --border-opacity: 1;
    border-color: #4a5568;
    border-color: rgba(74, 85, 104, var(--border-opacity));
  }

  .dark\:text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
  }

  .dark\:text-gray-400 {
    --text-opacity: 1;
    color: #cbd5e0;
    color: rgba(203, 213, 224, var(--text-opacity));
  }
}

.propa-box-info .pagination-wrapper {
  margin-top: 20px;
}
.propa-box-info .bt-row {
  margin-top: 10px;
  flex: 1 1 100%;
}
.propa-box-info .bt-row h5 {
  color: #002676;
  flex: 1 1 100%;
  font-weight: bold;
}
.propa-box-info .bt-row a {
  font-size: 12px;
  padding: 3px 4px;
}
form .search-term {
  position: relative;
}
form .search-term button {
  position: absolute;
  margin-top: 25px;
}
.property-viewer  {
  padding: 15px;
}
.property-viewer p span {
  font-weight: bold;
}
.property-viewer img {
  max-width: 100%;
}
.propa-mini-hero .inner-cover {
  background: url(../images/mini-hero.jpg) no-repeat center;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position-y: -300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 220px;
  position: relative;
  display: grid;
  align-items: center;
  z-index: 1;
}

.propa-mini-hero .inner-cover:before {
  content: "";
  background: rgba(16, 16, 16, 0.65);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
}
 
.propa-mini-hero ul.breadcrumbs-custom-path li {
  display: inline-block;
}

.propa-mini-hero ul.breadcrumbs-custom-path li,
.propa-mini-hero ul.breadcrumbs-custom-path li span {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.propa-mini-hero ul.breadcrumbs-custom-path {
  z-index: 9;
  position: relative;
  text-align: center;
}

.propa-mini-hero ul.breadcrumbs-custom-path li span {
  margin: 0 6px;
}

.propa-mini-hero ul.breadcrumbs-custom-path span.fa {
  color: var(--opposite-color);
}

.propa-mini-hero ul.breadcrumbs-custom-path li.active {
  font-weight: 100;
}

.propa-mini-hero .breadcrumbs-custom-path h3 {
  font-size: 30px;
  color: #fff;
  line-height: 35px;
  margin-bottom: 30px;
}

@media (max-width: 1280px) {
  .propa-mini-hero .banner-9,
  .propa-mini-hero .inner-cover {
    min-height: 250px;
  }
  .propa-mini-hero ul.breadcrumbs-custom-path {
    margin-top: 4em;
  }
}

@media (max-width: 800px) {
  .propa-mini-hero .banner-9,
  .propa-mini-hero .inner-cover {
    min-height: 220px;
  }
}

@media (max-width: 568px) {
  .propa-mini-hero .banner-9,
  .propa-mini-hero .inner-cover {
    min-height: 180px;
  }
  .propa-mini-hero ul.breadcrumbs-custom-path {
    margin-top: 2em;
  }
  .propa-mini-hero ul.breadcrumbs-custom-path li,
  .propa-mini-hero ul.breadcrumbs-custom-path li span {
    font-size: 16px;
  }
  .propa-mini-hero ul.breadcrumbs-custom-path li span {
    margin: 0 6px;
  }
}

@media (max-width: 387px) {
  .propa-mini-hero ul.breadcrumbs-custom-path {
    margin-top: 2em;
  }
  .propa-mini-hero .breadcrumbs-custom-path h3 {
    margin-bottom: 16px;
  }
}

@media (max-width: 320px) {
  .propa-mini-hero .banner-9,
  .propa-mini-hero .inner-cover {
    min-height: 150px;
  }
}

.propa-ladder #propa-klanx {
  background: #f8fbff;
}

.propa-ladder .propa-box-info {
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.2);
}

.propa-ladder .propa-box-info p {
  position: absolute;
  top: 16px;
  right: 36px;
  font-size: 14px;
  padding: 4px 8px;
  color: #fff;
  text-transform: uppercase;
  background: #ff8a00;
  font-weight: 500;
  border-radius: 4px;
}

.propa-ladder .propa-box-info img {
  border-radius: 4px 4px 0 0;
}

.propa-ladder .parent-flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.propa-ladder .info-bg {
  background: #fff;
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.05);
  padding: 25px 20px;
}

.propa-ladder .propa-box-info h5 a {
  font-size: 20px;
  line-height: 25px;
  color: var(--title-color);
  font-weight: 600;
  display: block;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.propa-ladder .propa-box-info h5 a:hover {
  color: var(--opposite-color);
}

.propa-ladder .propa-box-info span.price {
  color: var(--opposite-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.propa-ladder .propa-box-info ul li {
  display: inline-block;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #777;
}

.propa-ladder .propa-box-info ul li span.fa {
  color: var(--opposite-color);
  padding-right: 5px;
}

.propa-ladder .propa-box-info ul {
  margin-top: 20px;
}

@media all and (max-width: 1080px) {
  .propa-ladder .propa-box-info h5 a {
    font-size: 20px;
  }
}

@media all and (max-width: 568px) {
  .propa-ladder button.owl-prev {
    left: 0px;
    color: #fff !important;
  }
  .propa-ladder button.owl-next {
    right: 0px;
    color: #fff !important;
  }
}

.propa-header .navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
}

.propa-header .navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 10px;
  height: 10px;
  border-left: 1px var(--white-color) solid;
  border-top: 1px var(--white-color) solid;
  display: block;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -6px;
  left: 49%;
  z-index: 1001;
}

.propa-header .dropdown-toggle::after {
  margin-left: 0.1em;
  border-top: 0.3em solid;
  border-right: 0.2em solid transparent;
  border-left: 0.2em solid transparent;
  vertical-align: middle;
}

.propa-header .dropdown-item:hover,
.propa-header .dropdown-item:focus {
  color: var(--opposite-color);
  text-decoration: none;
  background-color: transparent;
}

.propa-header nav.navbar {
  background-color: #004ae2;
}

.propa-header a.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  padding: 0;
}

.propa-header a.navbar-brand span {
  font-size: 37px;
  color: #ff8a00;
}

.propa-header .navbar {
  padding: 0;
}

.propa-header .navbar-light .navbar-brand:hover,
.propa-header .navbar-light .navbar-brand:focus {
  color: #ffffff;
}

.propa-header .navbar-light .navbar-nav .show > .nav-link,
.propa-header .navbar-light .navbar-nav .active > .nav-link,
.propa-header .navbar-light .navbar-nav .nav-link.show,
.propa-header .navbar-light .navbar-nav .nav-link.active {
  color: #ffffff;
}

.propa-header li.nav-item {
  margin: 0px 10px;
}

.propa-header .navbar-toggler {
  padding: 0.25rem 0.6rem;
  font-size: 1rem;
  background-color: #fff;
  border: none;
}
.form-container {
  max-width: 600px;
  margin: 20px auto !important;
  padding: 15px; 
}
.form-container .form-group {
  margin-top: 10px;
}
.img-prev img {
  max-width: 150px;
  max-height: 150px;
}

@media (max-width: 992px) {
  .propa-header .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  .propa-header .navbar-expand-lg .navbar-nav .dropdown-menu:before {
    top: -5px;
    left: 4%;
  }
}
@media (max-width: 569px) {
  .propa-header nav.navbar {
    padding: 0 15px;
  }
}

@media (max-width: 320px) {
  .propa-header a.navbar-brand {
    font-size: 34px;
  }
}

.lg-btn-orange {
  padding: 10px 22px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.3s ease-in;
  border: 0;
  background-color: #ff8a00;
  border-color: #ff8a00;
}

.lg-btn-orange:hover {
  background: #ffffff;
  outline: none;
  color: #ff8a00;
}

.btn-secondary:focus,
.btn-secondary.focus {
  background-color: none !important;
  border-color: none !important;
  box-shadow: none !important;
}

